@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(font/Inter-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('Inter'), url(font/Inter-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url(font/Inter-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('Inter'), url(font/Inter-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: local('Inter'), url(font/Inter-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: local('Inter'), url(font/Inter-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: local('Inter'), url(font/Inter-Black.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #eee;
}
header {
  background-color: rgb(18, 35, 84);
}
footer {
  background-color: rgb(18, 35, 84);
  padding: 20px 0;
  color: #eee;
  font-size: 14px;
  font-weight: 300;
}
h2 {
  font-size: 26px;
  color: #111;
}
p {
  font-size: 16px;
  color: #333;
}
.btn {
  background-color: rgb(37, 97, 158);
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  transition: background-color .2s linear;
}
.btn:hover {
  background-color: rgb(28, 76, 129);
}

label, select {
  cursor: pointer;
}
form {
  width: 400px;
  margin: 0 auto;
}
