@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(font/Inter-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('Inter'), url(font/Inter-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url(font/Inter-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('Inter'), url(font/Inter-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: local('Inter'), url(font/Inter-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: local('Inter'), url(font/Inter-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: local('Inter'), url(font/Inter-Black.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #eee;
}
header {
  background-color: rgb(18, 35, 84);
}
footer {
  background-color: rgb(18, 35, 84);;
}
