.card-container {
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-container img {
    width: 350px;
}
.card-info p {
    margin-top: 1em;
    margin-bottom: 43px;
}
.card-type {
    padding: 5px 10px;
    background-color: #aaa;
    color: #333;
    border-radius: 4px;
}
.card-btn-wrapper {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    padding-top: .5em;
    border-top: 1px solid #111;
}